@using Shoper.Application.Dtos.CategoryDtos
@{
    ViewData["Title"] = "Home Page";
}
@model List<ResultCategoryDto>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>shoper admin projesi basliyor</p>
    
</div>
