@using Shoper.Application.Dtos.ProductDtos
 @model List<ResultProductDto>
   

<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Kaliteli Ürün</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Ücretsiz Kargo</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14 Gün İade</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">7/24 Destek</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->

<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Popüler Ürünler</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="@item.ImageUrl" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">@item.ProductName</h6>
                        <div class="d-flex justify-content-center">
                            <h6>&#8378;@item.Price</h6><h6 class="text-muted ml-2"><del>&#8378;@item.Price</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="/Product/Detail?id=@item.ProductId" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Detay</a>

                        <a href="#" class="btn btn-sm text-dark p-0" onclick="addToFavori(@item.ProductId)"><i class="fas fa-heart text-primary mr-1"></i>Favori</a>

                        <a href="#" class="btn btn-sm text-dark p-0" onclick="addToCart(@item.ProductId,@item.Price)"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Products End -->
<!-- Subscribe Start -->
@* <div class="container-fluid bg-secondary my-5">
    <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="col-md-6 col-12 py-5">
            <div class="text-center mb-2 pb-2">
                <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Haber Alın !!!</span></h2>
                <p>İndirimlerden haber almak için abone olabilirsiniz.</p>
            </div>
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control border-white p-4" placeholder="Mailinizi giriniz.">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">Abone Ol</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> *@
<!-- Subscribe End -->
<script>
    function addToCart(id,totalprice) {
        const data = {
            ProductId: id,  
            Quantity: 1 ,
            TotalPrice: totalprice
        };
        console.log(data);
        $.ajax({
            url: '/Cart/AddToCartItem',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                if (response.success) {
                    alert('Ürün sepete eklendi!');
                    location.reload();
                } else {
                    alert('Bir hata oluştu: ' + response.error);
                }
            },
            error: function (xhr, status, error) {
                alert('Bir hata oluştu: ' + error);
            }
        });
    }
</script>
<script>
    function addToFavori(id) {
        $.ajax({
            url: '/Favorites/Add',
            type: 'POST',
            data: { productid: id },
            success: function (response) {
                if (response.success) {
                    alert('Ürün favorilere eklendi!');
                    location.reload();
                } else {
                    alert('Bir hata oluştu: ' + response.error);
                }
            },
            error: function (xhr, status, error) {
                alert('Bir hata oluştu: ' + error);
            }
        });
    }
</script>
