<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">S.S.S.</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/home/Index">Ana Sayfa</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">SSS</p>
        </div>
    </div>
</div>

<div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Siparişimi ne zaman teslim alabilirim?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                Siparişleriniz 1-3 iş günü içinde kargoya teslim edilmektedir. Teslimat süresi, bulunduğunuz bölgeye göre değişiklik gösterebilir.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Kargo ücreti ne kadar?
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                500 TL ve üzeri alışverişlerde kargo ücretsizdir. 500 TL altındaki siparişlerde ise sabit bir kargo ücreti uygulanmaktadır.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    İade süreci nasıl işliyor?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                Siparişinizi teslim aldıktan sonra 14 gün içinde iade talebinde bulunabilirsiniz. Ürün, orijinal ambalajında ve kullanılmamış olmalıdır. İade işlemi onaylandığında ödemeniz iade edilir.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading4">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseThree">
                    Ürün değişimi yapabilir miyim?
                    </button>
                </h2>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                <div class="card-body">
                Ürün değişim işlemlerimiz şu an için yoktur. Ancak iade edip, yeni bir sipariş verebilirsiniz.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading5">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseThree">
                     Iade kargo ücretini kim karşılıyor?
                    </button>
                </h2>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                <div class="card-body">
                Hatalı veya kusurlu ürünlerde iade kargo ücreti bize aittir. Diğer durumlarda kargo ücreti müşteriye aittir.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading6">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseThree">
                    Bir ürün stokta yoksa ne yapabilirim?
                    </button>
                </h2>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                <div class="card-body">
                Stokta olmayan ürünler için "Stok Gelince Haber Ver" seçeneğini kullanabilirsiniz. Ürün stoklara girdiğinde e-posta yoluyla bilgilendirileceksiniz.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading7">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapseThree">
                        Ürünleriniz orijinal mi?
                    </button>
                </h2>
            </div>
            <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
                <div class="card-body">
                    Evet, sitemizde satışa sunulan tüm ürünler %100 orijinal ve garanti kapsamındadır.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading8">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapseThree">
                        Hangi ödeme yöntemlerini kabul ediyorsunuz?
                    </button>
                </h2>
            </div>
            <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
                <div class="card-body">
                    Kredi kartı, banka kartı ve kapıda ödeme seçeneklerimiz mevcuttur. Ayrıca, belirli kampanyalar kapsamında taksit seçeneklerimiz de bulunmaktadır.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading9">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapseThree">
                    Ödememi güvenli bir şekilde yapabilir miyim?
                    </button>
                </h2>
            </div>
            <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
                <div class="card-body">
                Evet, sitemiz SSL sertifikası ile korunmaktadır. Ödeme işlemleriniz güvenli bir şekilde yapılmaktadır.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading10">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapseThree">
                        Kapıda ödeme var mı?
                    </button>
                </h2>
            </div>
            <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
                <div class="card-body">
                    Evet, kapıda ödeme seçeneğimiz bulunmaktadır. Kapıda ödeme seçeneği için küçük bir ek ücret alınabilir.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading11">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapseThree">
                    Şifremi unuttum, ne yapmalıyım?
                    </button>
                </h2>
            </div>
            <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
                <div class="card-body">
                Giriş ekranındaki “Şifremi Unuttum” bağlantısına tıklayarak şifrenizi sıfırlayabilirsiniz. E-posta adresinize yeni bir şifre gönderilecektir.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading12">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapseThree">
                    Adres bilgilerimi nasıl güncelleyebilirim?
                    </button>
                </h2>
            </div>
            <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordionExample">
                <div class="card-body">
                Hesap ayarlarınıza girerek adres bilgilerinizi güncelleyebilirsiniz. Sipariş sırasında adres seçimi yaparken yeni adresinizi de ekleyebilirsiniz.
                </div>
            </div>
        </div>
    </div>
