<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">BIZIM ILE ILETISIME GEC</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/home/Index">Ana Sayfa</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Iletisim</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Sorulariniz Icin Iletisime Gecin</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                <form method="post" action="/Contact/CreateContact" name="sentMessage" id="createcontactForm" novalidate="novalidate">
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" placeholder="Adiniz"
                               required="required" data-validation-required-message="Lutfen adinizi giriniz" name="name"/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="Email Adresiniz"
                               required="required" data-validation-required-message="Lutfen email adresinizi giriniz" name="email"/>
                        <p class="help-block text-danger"></p>
                    </div>
                    @* <div class="control-group">
                        <input type="text" class="form-control" id="subject" placeholder="Konu"
                               required="required" data-validation-required-message="Lutfen konuyu giriniz" />
                        <p class="help-block text-danger"></p>
                    </div> *@
                    <div class="control-group">
                        <textarea class="form-control" rows="6" id="message" placeholder="Mesaj"
                                  required="required"
                                  data-validation-required-message="Lutfen mesajinizi giriniz" name="message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="contactbutton">
                            Mesaj Gonder
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <h5 class="font-weight-semi-bold mb-3">Iletisime Gecin</h5>
            <p>Istediginiz konuyla alakali olarak bizim ile iletisime gecebilirsiniz. Sizleri bekliyoruz.</p>
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3">Magaza 1</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>yazilimcisarman@gmail.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
            <div class="d-flex flex-column">
                <h5 class="font-weight-semi-bold mb-3">Magaza 2</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>yazilimcisarman@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->