

<div class="d-flex justify-content-center align-items-center" style="width:100%; min-height: 30vh;">
    <div style="width:300px;">
        <h4 style="text-align: center;">Giriş Yap</h4>
        <form method="post" action="/Account/Login">
            <div class="form-group" style="text-align: center;">
                <label for="email">E-mail</label>
                <input class="form-control" type="text" placeholder="example@email.com" name="email" id="email" required>
            </div>
            <div class="form-group" style="text-align: center;">
                <label for="password">Şifre</label>
                <input class="form-control" type="password" placeholder="Şifrenizi Giriniz." name="password" id="password" required>
            </div>
            <div class="card border-secondary">
                <div class="card-footer border-secondary bg-transparent">
                    <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Giriş Yap</button>
                </div>
            </div>
        </form>
           <p>Üye değil misiniz? <a href="/Account/Register">Üye Ol</a></p>
    </div>
</div>
