
<div class="d-flex justify-content-center align-items-center" style="width:100%; min-height: 30vh;">
    <div style="width:300px;">
        <h4 style="text-align: center;">Üye Ol</h4> 
        <form method="post" action="Register" >

            <div class="form-group" style="text-align: center;">
                <label for="Adınız">Adınız</label>
                <input class="form-control" type="text" placeholder="Adınız." name="name" id="name" required>
            </div>
            <div class="form-group" style="text-align: center;">
                <label for="soyad">Soyadınız</label>
                <input class="form-control" type="text" placeholder="Soyadınız." name="surname" id="surname" required>
            </div>
            <div class="form-group" style="text-align: center;">
                <label for="email">Email</label>
                <input class="form-control" type="email" placeholder="Emailiniz." name="email" id="email" required>
            </div>
            <div class="form-group" style="text-align: center;">
                <label for="phonenumber">Telefonunuz</label>
                <input class="form-control" type="text" placeholder="5XX-XXX-XXXX" name="phonenumber" id="phonenumber" required>
            </div>
            <div class="form-group" style="text-align: center;">
                <label for="phone">Şifreniz</label>
                <input class="form-control" type="password" placeholder="Şifreniz." name="password" id="password" required>
            </div>
            <div class="form-group" style="text-align: center;">
                <label for="phone">Şifreniz Tekrar</label>
                <input class="form-control" type="password" placeholder="Şifreniz Tekrar" name="repassword" id="repassword" required>
            </div>
            <div class="card border-secondary">
                <div class="card-footer border-secondary bg-transparent">
                    <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Kayıt Ol</button>
                </div>
            </div>
        </form>
    </div>
</div>
