<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">DESTEK ICIN MESAJ GONDERIN</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/home/Index">Ana Sayfa</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Destek</p>
        </div>
    </div>
</div>

<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Destek Icin Iletisime Gecin</span></h2>
    </div>
    <div class="row px-xl-5" style="justify-content:center">
        <div class="col-lg-7 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                <form method="post" action="/Help/CreateHelp" name="sentMessage" id="helpform" novalidate="novalidate">
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" placeholder="Adiniz"
                               required="required" data-validation-required-message="Lutfen adinizi giriniz" name="name" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="Email Adresiniz"
                               required="required" data-validation-required-message="Lutfen email adresinizi giriniz" name="email"/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" placeholder="Konu"
                               required="required" data-validation-required-message="Lutfen konuyu giriniz" name="subject"/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="6" id="message" placeholder="Destek Istediginiz Konuyu Aciklayin"
                                  required="required"
                                  data-validation-required-message="Lutfen mesajinizi giriniz" name="message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="help">
                            Destek Talebi Olustur
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->